body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(194, 194, 248, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-left: auto;
  margin-right: auto;
}
